@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 6fr 0.8fr;
    grid-template-columns: 0.8fr 4fr;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(180deg, #000A1F 0%, #00143C 100%);
}

.header {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: #0B1426;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header svg {
    width: 2rem;
    height: 2rem;
}

.addbook-container {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.addbook {
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #061121;
    border-right:1px solid aqua;
}

.addbook p {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.upper-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.upper-message svg {
    width: 6rem;
    height: 6rem;
}

.options {
    margin-top: 1rem;
    gap: 40px;
}

#add, #remove {
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border-radius: 40px;
    width: 7rem;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

#add {
    background-color: #13ad44;
}

#add:hover {
    background-color: #16a34a;
}

#remove {
    background-color: #dc2626;
}

#remove:hover {
    background-color: #c02626;
}

.first-option, .second-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 20px;
}

.first-option {
    margin-top: 3rem;
}

.options svg {
    width: 3rem;
    height: 3rem;
}

.books-display {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.footer {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: #0B1426;
    color: gray;
    justify-content: center;
    align-items: center;
}


.card {
    border-radius: 8px;
    padding: 20px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    border-bottom: 5px solid #4A90E2;
    background-color: #2D3A4B;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #3A4A61; 
}

.card .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #E4E9F0;
    text-align: left;
}

.card p {
    font-size: 0.9rem;
    color: #A5B2C1;
    text-align: left;
}

.icons-card {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 0;
}

.card svg {
    width: 24px;
    height: 24px;     
    cursor: pointer;  
}